@use "./variables" as vars;

.page {
  position: relative;
}

.transition-layer {
  position: fixed;
  inset: 0;
  background: linear-gradient(135deg, vars.$primary, vars.$secondary);
  z-index: 999;
}