@use "./variables" as vars;

.product-card {
  background: white;
  border-radius: vars.$radius;
  border: 1px solid vars.$border;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  img {
    width: 100%;
    height: 220px;
    object-fit: cover;
  }

  .info {
    padding: 1rem;

    h3 {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }

    .price {
      font-weight: 700;
      color: vars.$primary;
      margin-bottom: 0.8rem;
    }

    .btn {
      display: inline-block;
      padding: 0.5rem 1rem;
      border-radius: 8px;
      background: vars.$primary;
      color: white;
      font-size: 0.9rem;
      transition: 0.2s;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}