@use "./variables" as vars;

.success {
  padding: 4rem 2rem;
  text-align: center;

  &__icon {
    width: 80px;
    height: 80px;
    margin: auto;
    border-radius: 50%;
    background: vars.$success;
    color: white;
    font-size: 3rem;
    display: grid;
    place-items: center;
    margin-bottom: 1.5rem;
  }

  p {
    margin-top: 0.5rem;
    opacity: 0.7;
  }
}